<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuikBudget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuikBudget.Properties.Settings>
            <setting name="lastFileOpened" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBudgetPath" serializeAs="String">
                <value />
            </setting>
        </QuikBudget.Properties.Settings>
    </userSettings>
</configuration>